<h1>Angular-tinymce example</h1>
<editor [(ngModel)]="dataModel" 
[init]="{skin_url: 'assets/skins/ui/oxide', 
base_url: '/tinymce', 
suffix: '.min',       
content_css: 'assets/skins/ui/oxide/content.min.css',
plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak',
'searchreplace wordcount visualblocks visualchars code fullscreen',
'insertdatetime media nonbreaking save table contextmenu directionality',
'emoticons template paste textcolor colorpicker textpattern']}"
(onSelectionChange)="handleEvent($event)"
></editor>